# Baselines

In [1]:
# helper functions
from FLutils import (
    load_df,               # load data
    #create_keras_model,    # construct a deep neural network (keras)
    #model_fn,              # convert keras model to tff.learning.models
    #prep_fed_train,        # convert training data to tensors for learning with tensorflow
    #prep_fed_test,         # convert test data to tensors for testing with tensorflow (other format than training data)
    #train_model,           # train a keras model
    #train_fed              # train a keras model federated with distributed data
    )

2023-06-20 16:52:18.849788: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-06-20 16:52:19.622825: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [21]:
# ingest data
# ===========

df_paths = [
    '../output/data/insurance-clean.csv',
    "https://raw.githubusercontent.com/Olhaau/fl-official-statistics-addon/main/output/data/insurance-clean.csv"
]

df = load_df(df_paths)
df.head(3)

loaded data from ../output/data/insurance-clean.csv

,age,sex,bmi,children,smoker,region,charges,region0,region1,region2,region3
0,0.021739,0.0,0.321227,0.0,1.0,southwest,16884.9240,0.0,0.0,0.0,1.0
1,0.000000,1.0,0.479150,0.2,0.0,southeast,1725.5523,0.0,0.0,1.0,0.0
2,0.217391,1.0,0.458434,0.6,0.0,southeast,4449.4620,0.0,0.0,1.0,0.0

In [22]:
# select features, target (first column) and clients
# ==================================================

# features for centralized learning
features = ['age', 'sex', 'bmi', 'children', 'smoker'
            , 'region0', 'region1', 'region2', 'region3']

target = 'charges'

# features for federated learning
features_fed = features[:5]

# clients for data splits
clients = df.region.unique()

# show target + features in the data
df_ml = df.loc[:, [target] + features ]
df_ml.head(3)

,charges,age,sex,bmi,children,smoker,region0,region1,region2,region3
0,16884.9240,0.021739,0.0,0.321227,0.0,1.0,0.0,0.0,0.0,1.0
1,1725.5523,0.000000,1.0,0.479150,0.2,0.0,0.0,0.0,1.0,0.0
2,4449.4620,0.217391,1.0,0.458434,0.6,0.0,0.0,0.0,1.0,0.0

In [25]:
from pycaret import *
from pycaret.regression import *

In [23]:
df_ml

,charges,age,sex,bmi,children,smoker,region0,region1,region2,region3
0,16884.92400,0.021739,0.0,0.321227,0.0,1.0,0.0,0.0,0.0,1.0
1,1725.55230,0.000000,1.0,0.479150,0.2,0.0,0.0,0.0,1.0,0.0
2,4449.46200,0.217391,1.0,0.458434,0.6,0.0,0.0,0.0,1.0,0.0
3,21984.47061,0.326087,1.0,0.181464,0.0,0.0,0.0,1.0,0.0,0.0
4,3866.85520,0.304348,1.0,0.347592,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1333,10600.54830,0.695652,1.0,0.403820,0.6,0.0,0.0,1.0,0.0,0.0
1334,2205.98080,0.000000,0.0,0.429379,0.0,0.0,1.0,0.0,0.0,0.0
1335,1629.83350,0.000000,0.0,0.562012,0.0,0.0,0.0,0.0,1.0,0.0
1336,2007.94500,0.065217,0.0,0.264730,0.0,0.0,0.0,0.0,0.0,1.0
1337,29141.36030,0.934783,0.0,0.352704,0.0,1.0,0.0,1.0,0.0,0.0

In [38]:
nreps, nfolds = 5, 5
from sklearn.model_selection import train_test_split, RepeatedStratifiedKFold

evaluation = RepeatedStratifiedKFold(n_splits = nfolds, n_repeats = nreps#, random_state = 42
                                     )

In [41]:
clf = setup(df_ml, target = target, session_id = 1234, preprocess=False
            #,fold_strategy = evaluation
            )

In [42]:
# benchmark experiment
best = compare_models(
    sort = "R2", fold = 5#, budget_time = 5
)

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [43]:
lr = create_model('lr')

tuned_lr = tune_model(lr)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 2 candidates, totalling 20 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [44]:
print(tuned_lr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, positive=False)

In [45]:
rf = create_model('rf')

tuned_rf = tune_model(rf)
print(rf)
print(tuned_rf)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='squared_error',
                      max_depth=None, max_features=1.0, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=False, random_state=1234, verbose=0,
                      warm_start=False)
RandomForestRegressor(bootstrap=False, ccp_alpha=0.0, criterion='squared_error',
                      max_depth=7, max_features='log2', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.5,
                      min_samples_leaf=2, min_samples_split=10,
                      min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
                      oob_score=False, random_state=1234, verbose=0,
                      warm_start=False)

In [37]:
plot_model(best, plot = 'error')

ValueError: Estimator [] does not have the required fit() method.

In [31]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [9]:
# load sample dataset
from pycaret.datasets import get_data
data = get_data('diabetes')

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
from pycaret.classification import *
s = setup(data, target = 'Class variable', session_id = 123)

In [11]:
# from pycaret.classification import ClassificationExperiment
# s = ClassificationExperiment()
# s.setup(data, target = 'Class variable', session_id = 123)

In [12]:
# functional API
best = compare_models()

# OOP API
#best = s.compare_models()

Processing:   0%|          | 0/69 [00:00<?, ?it/s]

Processing:   0%|          | 0/69 [00:00<?, ?it/s]